In [1]:
#IMPORTING DATASET
#Using Pandas library reading CUSTOMERS.json File
import pandas as pd
customer_Data=pd.read_json("customers.json")
customer_Data.head()

   customer_id     customer_name     country           city
0         9780      Jessica Hart  Martinique  South William
1         9169         Amy Clark  Kazakhstan     Davisville
2         6631  Danielle Elliott     Armenia     East Danny
3         8772     Robin Mendoza      Uganda    Johnsonbury
4         8913    Abigail Miller     Namibia  Wrightchester

In [2]:
#getting the column names of the DataFrame
customer_Data.columns

Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [3]:
#PREPROCESSING

# 1. Remove duplicates
df= customer_Data.drop_duplicates() 
print(df)

     customer_id     customer_name      country           city
0           9780      Jessica Hart   Martinique  South William
1           9169         Amy Clark   Kazakhstan     Davisville
2           6631  Danielle Elliott      Armenia     East Danny
3           8772     Robin Mendoza       Uganda    Johnsonbury
4           8913    Abigail Miller      Namibia  Wrightchester
..           ...               ...          ...            ...
995         6357    Jessica Castro     Dominica     Deannastad
996          244    Cheryl Ramirez       Malawi  Martinezmouth
997         4490   Luis Strickland        Italy     Oneilltown
998         2984    Jennifer Kelly      Bahamas    Xavierville
999         8760    Anthony Wilson  Switzerland      Torreston

[1000 rows x 4 columns]

In [111]:
# 2. Handle missing values (assuming no missing values for this example)
# You can fill missing values like this:

# Instead of using inplace=True with a chained assignment
df['customer_name'] = df['customer_name'].fillna('Unknown')
df['country'] = df['country'].fillna('Unknown')
df['city'] = df['city'].fillna('Unknown')

KeyError: 'customer_name'

In [5]:
#3. Data standardation 

df['customer_name'] = df['customer_name'].str.strip().str.title()  # Trim and title case names
df['country'] = df['country'].str.strip().str.title()  # Trim and title case country names
df['city'] = df['city'].str.strip().str.title()  # Trim and title case city names

In [6]:
## Standardizing country names in the dataset
country_corrections = {
    'Usa': 'USA',
    'Canada': 'Canada',
    'Us': 'USA',
    'Ca': 'Canada'
}
df['country'] = df['country'].replace(country_corrections)

In [7]:
# Displaying the first 5 rows of the dataframe to inspect the data
df.head()

   customer_id     customer_name     country           city
0         9780      Jessica Hart  Martinique  South William
1         9169         Amy Clark  Kazakhstan     Davisville
2         6631  Danielle Elliott     Armenia     East Danny
3         8772     Robin Mendoza      Uganda    Johnsonbury
4         8913    Abigail Miller     Namibia  Wrightchester

In [8]:
#transcation data.

In [9]:
#IMPORTING DATASET
#Using Pandas library reading CUSTOMERS.json File
transaction_Data=pd.read_json("transaction_logs.json")
transaction_Data.head()

,order_id,customer_id,product_id,product_name,product_category,payment_type,qty,price,datetime,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,1,1731,8609,Central home & kitche,Home & Kitchen,Wallet,25,64216,2021-07-26 20:16:14,www.bestbuy.com,a395e8c7,N,Card Expired
1,2,5539,2409,Upon sport,Sports,Card,34,69877,2021-08-25 03:41:32,www.flipkart.com,b40791f8,N,Invalid CVV
2,3,3507,1145,Across stationer,Stationery,Card,28,35491,2024-06-21 21:39:21,www.target.com,7fb6cca9,N,Blocked Card
3,4,4826,8375,Start home & kitche,Home & Kitchen,Card,33,39540,2022-09-17 13:52:11,www.amazon.in,cae677f3,N,Transaction Timeout
4,5,6538,2149,Draw beaut,Beauty,Card,27,80635,2022-03-09 07:58:08,www.etsy.com,fbce1649,N,Invalid CVV

In [10]:
#getting the column names of the DataFrame
transaction_Data.columns

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [11]:
#PREPROCESSING
# 1. Remove duplicates
df= transaction_Data.drop_duplicates() 
print(df)

df.columns

      order_id  customer_id  product_id           product_name  \
0            1         1731        8609  Central home & kitche
1            2         5539        2409             Upon sport
2            3         3507        1145       Across stationer
3            4         4826        8375    Start home & kitche
4            5         6538        2149             Draw beaut
...        ...          ...         ...                    ...
9995      9996         1496        9676    Range home & kitche
9996      9997         7288        9927               Once toy
9997      9998         8381        3852            Human beaut
9998      9999         5494        7324            Light beaut
9999     10000         1490        6547        Source furnitur

     product_category      payment_type  qty  price            datetime  \
0      Home & Kitchen            Wallet   25  64216 2021-07-26 20:16:14
1              Sports              Card   34  69877 2021-08-25 03:41:32
2          Stationery              Card   28  35491 2024-06-21 21:39:21
3      Home & Kitchen              Card   33  39540 2022-09-17 13:52:11
4              Beauty              Card   27  80635 2022-03-09 07:58:08
...               ...               ...  ...    ...                 ...
9995   Home & Kitchen            Wallet   39  61151 2024-03-17 09:06:05
9996             Toys  Internet Banking   44  53963 2024-06-17 08:04:22
9997           Beauty               UPI   48  26032 2023-02-05 04:20:30
9998           Beauty               UPI   17  28277 2024-02-17 03:05:57
9999        Furniture               UPI   34  91020 2023-01-11 03:02:53

     ecommerce_website_name payment_txn_id payment_txn_success  \
0           www.bestbuy.com       a395e8c7                   N
1          www.flipkart.com       b40791f8                   N
2            www.target.com       7fb6cca9                   N
3             www.amazon.in       cae677f3                   N
4              www.etsy.com       fbce1649                   N
...                     ...            ...                 ...
9995            www.ebay.in       03c982f7                   Y
9996          www.amazon.in       46bd0811                   N
9997       www.tatacliq.com       d115279c                   Y
9998           www.etsy.com       6d1628b3                   N
9999       www.flipkart.com       224381cd                   N

           failure_reason
0            Card Expired
1             Invalid CVV
2            Blocked Card
3     Transaction Timeout
4             Invalid CVV
...                   ...
9995
9996         Blocked Card
9997
9998         Card Expired
9999   Insufficient Funds

[10000 rows x 13 columns]

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [12]:
# Clean and standardize text data by trimming whitespace and applying title case to specified columns
columns_to_clean = [
    'product_name', 'product_category', 'payment_type',
    'ecommerce_website_name', 'failure_reason'
]

# Apply trimming and title-casing to the selected columns
for column in columns_to_clean:
    if df[column].dtype == "object":
        df[column] = df[column].str.strip().str.title()

# Display the cleaned DataFrame
print(df)

      order_id  customer_id  product_id           product_name  \
0            1         1731        8609  Central Home & Kitche
1            2         5539        2409             Upon Sport
2            3         3507        1145       Across Stationer
3            4         4826        8375    Start Home & Kitche
4            5         6538        2149             Draw Beaut
...        ...          ...         ...                    ...
9995      9996         1496        9676    Range Home & Kitche
9996      9997         7288        9927               Once Toy
9997      9998         8381        3852            Human Beaut
9998      9999         5494        7324            Light Beaut
9999     10000         1490        6547        Source Furnitur

     product_category      payment_type  qty  price            datetime  \
0      Home & Kitchen            Wallet   25  64216 2021-07-26 20:16:14
1              Sports              Card   34  69877 2021-08-25 03:41:32
2          Stationery              Card   28  35491 2024-06-21 21:39:21
3      Home & Kitchen              Card   33  39540 2022-09-17 13:52:11
4              Beauty              Card   27  80635 2022-03-09 07:58:08
...               ...               ...  ...    ...                 ...
9995   Home & Kitchen            Wallet   39  61151 2024-03-17 09:06:05
9996             Toys  Internet Banking   44  53963 2024-06-17 08:04:22
9997           Beauty               Upi   48  26032 2023-02-05 04:20:30
9998           Beauty               Upi   17  28277 2024-02-17 03:05:57
9999        Furniture               Upi   34  91020 2023-01-11 03:02:53

     ecommerce_website_name payment_txn_id payment_txn_success  \
0           Www.Bestbuy.Com       a395e8c7                   N
1          Www.Flipkart.Com       b40791f8                   N
2            Www.Target.Com       7fb6cca9                   N
3             Www.Amazon.In       cae677f3                   N
4              Www.Etsy.Com       fbce1649                   N
...                     ...            ...                 ...
9995            Www.Ebay.In       03c982f7                   Y
9996          Www.Amazon.In       46bd0811                   N
9997       Www.Tatacliq.Com       d115279c                   Y
9998           Www.Etsy.Com       6d1628b3                   N
9999       Www.Flipkart.Com       224381cd                   N

           failure_reason
0            Card Expired
1             Invalid Cvv
2            Blocked Card
3     Transaction Timeout
4             Invalid Cvv
...                   ...
9995
9996         Blocked Card
9997
9998         Card Expired
9999   Insufficient Funds

[10000 rows x 13 columns]

In [13]:
# STEP 3
# Establish database connection and normalize datasets
# Import user-defined module 'p0' for connecting MySQL with Python

import p0 
db,cursor=p0.create_database_connection()

Connection to MySQL server established.

In [14]:
# Create a new database named 'sai6' using the established connection
p0.create_database(cursor,"sai6")

Database 'sai6' created or already exists.

In [15]:
# View all databases available in the MySQL
p0.view_databases(cursor)

Databases:
college
information_schema
mysql
performance_schema
project_p0
projectp0
revature
sai6
sys

In [16]:
# Select and switch to the database named 'projectp0'
p0.use_database(cursor, "projectp0")

Using database 'projectp0'.

In [17]:
#Deleting a database named 'sai6' 
p0.delete_database(cursor, "sai6")

Database 'sai6' deleted.

In [18]:
# Import user-defined module 'DDL' for performing DDL commands
# Define SQL queries to create necessary tables for the project database

import DDL

# Create 'products' table to store product details
create_products_query = """
        CREATE TABLE IF NOT EXISTS products (
            product_id INT PRIMARY KEY,
            product_name VARCHAR(255) NOT NULL,
            product_category VARCHAR(255)
        );
        """

# Create 'customers' table to store customer information
create_customers_query = """
        CREATE TABLE IF NOT EXISTS customers (
            customer_id INT PRIMARY KEY,
            customer_name VARCHAR(255) NOT NULL,
            country VARCHAR(255),
            city VARCHAR(255)
        );
        """
        
# Create 'ecommerce_websites' table to store details of e-commerce platforms
create_ecommerce_websites_query = """
        CREATE TABLE IF NOT EXISTS ecommerce_websites (
            website_id INT PRIMARY KEY,
            ecommerce_website_name VARCHAR(255) UNIQUE NOT NULL
        );
        """
        
# Create 'payment_transactions' table to store payment transaction details
create_payment_transactions_query = """
        CREATE TABLE IF NOT EXISTS payment_transactions (
            payment_txn_id VARCHAR(255) PRIMARY KEY,
            payment_txn_success BOOLEAN,
            failure_reason TEXT
        );
        """
        
# Create 'transactions' table to store order details, linking customers, products, websites, and payment transactions
create_transactions_query = """
        CREATE TABLE IF NOT EXISTS transactions (
            order_id INT PRIMARY KEY,
            customer_id INT,
            product_id INT,
            qty INT,
            price DECIMAL(10, 2),
            datetime DATETIME,
            ecommerce_website_id INT,
            payment_txn_id VARCHAR(255),
            FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
            FOREIGN KEY (product_id) REFERENCES products(product_id),
            FOREIGN KEY (ecommerce_website_id) REFERENCES ecommerce_websites(website_id),
            FOREIGN KEY (payment_txn_id) REFERENCES payment_transactions(payment_txn_id)
        );
        """

In [19]:

"""
Use the DDL module to create 'products', 'customers', 'ecommerce_websites', 
'payment_transactions', and 'transactions' tables
"""

DDL.create_table(cursor, "products", create_products_query)
DDL.create_table(cursor, "customers", create_customers_query)
DDL.create_table(cursor, "ecommerce_websites", create_ecommerce_websites_query)
DDL.create_table(cursor, "payment_transactions", create_payment_transactions_query)
DDL.create_table(cursor, "transactions", create_transactions_query)

Table 'products' created successfully.
Table 'customers' created successfully.
Table 'ecommerce_websites' created successfully.
Table 'payment_transactions' created successfully.
Table 'transactions' created successfully.

In [20]:
# View all tables available in the MySQL
DDL.view_tables(cursor)

Tables:
customers
ecommerce_websites
orders
payment_transactions
payments
products
transactions

In [21]:
# Describe the 'transactions' table
DDL.describe_table(cursor,'transactions')

Structure of table 'transactions':
('order_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('customer_id', 'int', 'YES', 'MUL', None, '')
('product_id', 'int', 'YES', 'MUL', None, '')
('qty', 'int', 'YES', '', None, '')
('price', 'decimal(10,2)', 'YES', '', None, '')
('datetime', 'datetime', 'YES', '', None, '')
('ecommerce_website_id', 'int', 'YES', 'MUL', None, '')
('payment_txn_id', 'varchar(255)', 'YES', 'MUL', None, '')

In [22]:
# Describe the 'payment_transactions' table
DDL.describe_table(cursor,'payment_transactions')

Structure of table 'payment_transactions':
('payment_txn_id', 'varchar(255)', 'NO', 'PRI', None, '')
('payment_txn_success', 'tinyint(1)', 'YES', '', None, '')
('failure_reason', 'text', 'YES', '', None, '')

In [23]:
# Describe the 'ecommerce_websites' table
DDL.describe_table(cursor,'ecommerce_websites')

Structure of table 'ecommerce_websites':
('website_id', 'int', 'NO', 'PRI', None, 'auto_increment')
('ecommerce_website_name', 'varchar(255)', 'NO', 'UNI', None, '')

In [24]:
# Describe the 'ecommerce_websites' table
DDL.describe_table(cursor,'customers')

Structure of table 'customers':
('customer_id', 'int', 'NO', 'PRI', None, '')
('customer_name', 'varchar(255)', 'NO', '', None, '')
('country', 'varchar(100)', 'YES', '', None, '')
('city', 'varchar(100)', 'YES', '', None, '')

In [25]:
# Describe the 'products' table
DDL.describe_table(cursor,"products")

Structure of table 'products':
('product_id', 'int', 'NO', 'PRI', None, '')
('product_name', 'varchar(255)', 'NO', '', None, '')
('product_category', 'varchar(100)', 'YES', '', None, '')
('ips1', 'varchar(100)', 'YES', '', None, '')

In [47]:
#Adding a Column to the Products table using "ALTER" 
DDL.alter_table(cursor,'products' ,'''
ALTER TABLE products ADD ips1 INT;''')

Table 'products' altered successfully.

In [48]:
DDL.describe_table(cursor,"products")

Structure of table 'products':
('product_id', 'int', 'NO', 'PRI', None, '')
('product_name', 'varchar(255)', 'NO', '', None, '')
('product_category', 'varchar(100)', 'YES', '', None, '')
('ips1', 'int', 'YES', '', None, '')

In [49]:
#Modifying a Column to the Products table using "ALTER"
DDL.alter_table(cursor,'products' ,'''
ALTER TABLE products modify ips1 varchar(100);''')

Table 'products' altered successfully.

In [50]:
DDL.describe_table(cursor,"products")

Structure of table 'products':
('product_id', 'int', 'NO', 'PRI', None, '')
('product_name', 'varchar(255)', 'NO', '', None, '')
('product_category', 'varchar(100)', 'YES', '', None, '')
('ips1', 'varchar(100)', 'YES', '', None, '')

In [51]:
#Deleting a Column to the Products table using "ALTER"

DDL.alter_table(cursor,'products' ,'''
ALTER TABLE products drop ips1;''')

Table 'products' altered successfully.

In [103]:
#Dropping a Column to the Products table using "ALTER"
DDL.alter_table(cursor, 'products', 'ALTER TABLE products DROP COLUMN ips;')

NameError: name 'mysql' is not defined

In [101]:
DDL.describe_table(cursor,"products")

Structure of table 'products':
('product_id', 'int', 'NO', 'PRI', None, '')
('product_name', 'varchar(255)', 'NO', '', None, '')
('product_category', 'varchar(100)', 'YES', '', None, '')

In [61]:
# drop and truncate
create_table_query = '''
CREATE TABLE man (
    id INT,
    name VARCHAR(100)
);
'''
DDL.create_table(cursor, "man", create_table_query)

Table 'man' created successfully.

In [62]:
#Truncate a Table
DDL.truncate_table(cursor, "man")

Table 'man' truncated successfully.

In [63]:
#Drop a Table
DDL.drop_table(cursor, "man")

Table 'man' dropped successfully.

In [64]:
DDL.view_tables(cursor)

Tables:
customers
ecommerce_websites
orders
payment_transactions
payments
products
transactions

In [65]:
# Import user-defined module 'DML' for performing DML commands
import DML

In [53]:
# Insert into 'customers' table
DML.insert_data(cursor, 'customers', ['customer_id', 'customer_name', 'country', 'city'], (9780, 'Jessica Hart', 'Martinique', 'South William'))
DML.insert_data(cursor, 'customers', ['customer_id', 'customer_name', 'country', 'city'], (9169, 'Amy Clark', 'Kazakhstan', 'Davisville'))
DML.insert_data(cursor, 'customers', ['customer_id', 'customer_name', 'country', 'city'], (6631, 'Danielle Elliott', 'Armenia', 'East Danny'))
DML.insert_data(cursor, 'customers', ['customer_id', 'customer_name', 'country', 'city'], (8772, 'Robin Mendoza', 'Uganda', 'Johnsonbury'))
DML.insert_data(cursor, 'customers', ['customer_id', 'customer_name', 'country', 'city'], (8913, 'Abigail Miller', 'Namibia', 'Wrightchester'))

Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.

In [54]:
# Insert into 'ecommerce_websites' table
DML.insert_data(cursor, 'ecommerce_websites', ['website_id', 'ecommerce_website_name'], (1, 'www.bestbuy.com'))
DML.insert_data(cursor, 'ecommerce_websites', ['website_id', 'ecommerce_website_name'], (2, 'www.flipkart.com'))
DML.insert_data(cursor, 'ecommerce_websites', ['website_id', 'ecommerce_website_name'], (3, 'www.target.com'))
DML.insert_data(cursor, 'ecommerce_websites', ['website_id', 'ecommerce_website_name'], (4, 'www.amazon.in'))
DML.insert_data(cursor, 'ecommerce_websites', ['website_id', 'ecommerce_website_name'], (5, 'www.etsy.com'))

Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.

In [55]:
# Insert into 'payment_transactions' table
DML.insert_data(cursor, 'payment_transactions', ['payment_txn_id', 'payment_txn_success', 'failure_reason'], ('a395e8c7', False, 'Card Expired'))
DML.insert_data(cursor, 'payment_transactions', ['payment_txn_id', 'payment_txn_success', 'failure_reason'], ('b40791f8', False, 'Invalid CVV'))
DML.insert_data(cursor, 'payment_transactions', ['payment_txn_id', 'payment_txn_success', 'failure_reason'], ('7fb6cca9', False, 'Blocked Card'))
DML.insert_data(cursor, 'payment_transactions', ['payment_txn_id', 'payment_txn_success', 'failure_reason'], ('cae677f3', False, 'Transaction Timeout'))
DML.insert_data(cursor, 'payment_transactions', ['payment_txn_id', 'payment_txn_success', 'failure_reason'], ('fbce1649', False, 'Invalid CVV'))

Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.

In [109]:
cursor.execute("truncate table transactions")

In [56]:
# Insert into 'products' table
DML.insert_data(cursor, 'products', ['product_id', 'product_name', 'product_category'], (8609, 'Central home & kitche', 'Home & Kitchen'))
DML.insert_data(cursor, 'products', ['product_id', 'product_name', 'product_category'], (2409, 'Upon sport', 'Sports'))
DML.insert_data(cursor, 'products', ['product_id', 'product_name', 'product_category'], (1145, 'Across stationer', 'Stationery'))
DML.insert_data(cursor, 'products', ['product_id', 'product_name', 'product_category'], (8375, 'Start home & kitche', 'Home & Kitchen'))
DML.insert_data(cursor, 'products', ['product_id', 'product_name', 'product_category'], (2149, 'Draw beaut', 'Beauty'))

Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.

In [110]:
# Insert into 'transactions' table
DML.insert_data(cursor, 'transactions', ['order_id', 'customer_id', 'product_id', 'qty', 'price', 'datetime', 'ecommerce_website_id', 'payment_txn_id'], 
        (1, 9780, 8609, 25, 64216, '2021-07-26 20:16:14', 1, 'a395e8c7'))
DML.insert_data(cursor, 'transactions', ['order_id', 'customer_id', 'product_id', 'qty', 'price', 'datetime', 'ecommerce_website_id', 'payment_txn_id'], 
                (2, 9169, 2409, 34, 69877, '2021-08-25 03:41:32', 2, 'b40791f8'))
DML.insert_data(cursor, 'transactions', ['order_id', 'customer_id', 'product_id', 'qty', 'price', 'datetime', 'ecommerce_website_id', 'payment_txn_id'], 
                (3, 6631, 1145, 28, 35491, '2024-06-21 21:39:21', 3, '7fb6cca9'))
DML.insert_data(cursor, 'transactions', ['order_id', 'customer_id', 'product_id', 'qty', 'price', 'datetime', 'ecommerce_website_id', 'payment_txn_id'], 
                (4, 8772, 8375, 33, 39540, '2022-09-17 13:52:11', 4, 'cae677f3'))
DML.insert_data(cursor, 'transactions', ['order_id', 'customer_id', 'product_id', 'qty', 'price', 'datetime', 'ecommerce_website_id', 'payment_txn_id'], 
                (5, 8913, 2149, 27, 80635, '2022-03-09 07:58:08', 5, 'fbce1649'))

Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.

In [68]:
# Call the select_data function to retrieve and print data from the 'customers' table
DML.select_data(cursor, 'customers', columns='*', condition=None)

(1, 'customer_name', 'country', 'city')
(2, 'manoj', 'India', 'mysuru')
(4, 'Charlie', 'UK', 'London')
(5, 'David', 'India', 'Mumbai')
(6, 'Eve', 'Australia', 'Sydney')
(6631, 'Danielle Elliott', 'Armenia', 'East Danny')
(8772, 'Robin Mendoza', 'Uganda', 'Johnsonbury')
(8913, 'Abigail Miller', 'Namibia', 'Wrightchester')
(9169, 'Amy Clark', 'Kazakhstan', 'Davisville')
(9780, 'Jessica Hart', 'Martinique', 'South William')

In [69]:
# Call the select_data function to retrieve and print data from the 'ecommerce_websites' table
DML.select_data(cursor, 'ecommerce_websites', columns='*', condition=None)

(4, 'www.amazon.in')
(1, 'www.bestbuy.com')
(5, 'www.etsy.com')
(2, 'www.flipkart.com')
(3, 'www.target.com')

In [73]:
# Call the select_data function to retrieve and print data from the 'payment_transactions' table
DML.select_data(cursor, 'payment_transactions', columns='*', condition=None)

('7fb6cca9', 0, 'Blocked Card')
('a395e8c7', 0, 'Card Expired')
('b40791f8', 0, 'Invalid CVV')
('cae677f3', 0, 'Transaction Timeout')
('fbce1649', 0, 'Invalid CVV')

In [74]:
# Call the select_data function to retrieve and print data from the 'products' table
DML.select_data(cursor, 'products', columns='*', condition=None)

(1, 'Alice Johnson', 'Engineer')
(2, 'Johnson', 'Endfsghd')
(1145, 'Across stationer', 'Stationery')
(2149, 'Draw beaut', 'Beauty')
(2409, 'Upon sport', 'Sports')
(8375, 'Start home & kitche', 'Home & Kitchen')
(8609, 'Central home & kitche', 'Home & Kitchen')

In [75]:
# Call the select_data function to retrieve and print data from the 'transactions' table
DML.select_data(cursor, 'transactions', columns='*', condition=None)

In [76]:
# Call the select_data function to retrieve and print data from the 'products' table
DML.select_data(cursor, 'products', columns='product_id', condition=None)

(1,)
(2,)
(1145,)
(2149,)
(2409,)
(8375,)
(8609,)

In [77]:
# Update the 'product_name' to 'Alice Smith' in the 'products' table where the 'product_id' is 2
DML.update_data(cursor, 'products', 'product_name = \'Alice Smith\'', 'product_id = 2')

Query executed successfully.

In [78]:
DML.select_data(cursor, 'products', columns='product_id, product_name', condition=None)

(1, 'Alice Johnson')
(2, 'Alice Smith')
(1145, 'Across stationer')
(2149, 'Draw beaut')
(2409, 'Upon sport')
(8375, 'Start home & kitche')
(8609, 'Central home & kitche')

In [79]:
DML.update_data(cursor, 'products', 'product_name = \'Johnson\'', 'product_id = 2')

Query executed successfully.

In [80]:
DML.select_data(cursor, 'products', columns='product_id, product_name', condition=None)

(1, 'Alice Johnson')
(2, 'Johnson')
(1145, 'Across stationer')
(2149, 'Draw beaut')
(2409, 'Upon sport')
(8375, 'Start home & kitche')
(8609, 'Central home & kitche')

In [82]:
DML.insert_data(cursor, 'products', ['product_id', 'product_name', 'product_category'], (1219, 'Kirk Yagami', 'Anime'))

Query executed successfully.

In [83]:
DML.select_data(cursor, 'products', columns='*', condition=None)

(1, 'Alice Johnson', 'Engineer')
(2, 'Johnson', 'Endfsghd')
(1145, 'Across stationer', 'Stationery')
(1219, 'Kirk Yagami', 'Anime')
(2149, 'Draw beaut', 'Beauty')
(2409, 'Upon sport', 'Sports')
(8375, 'Start home & kitche', 'Home & Kitchen')
(8609, 'Central home & kitche', 'Home & Kitchen')

In [84]:
# Delete the record from the 'products' table where the product_id is 1
DML.delete_data(cursor, 'products', 'product_id = 1219')

Query executed successfully.

In [85]:
DML.select_data(cursor, 'products', columns='*', condition=None)

(1, 'Alice Johnson', 'Engineer')
(2, 'Johnson', 'Endfsghd')
(1145, 'Across stationer', 'Stationery')
(2149, 'Draw beaut', 'Beauty')
(2409, 'Upon sport', 'Sports')
(8375, 'Start home & kitche', 'Home & Kitchen')
(8609, 'Central home & kitche', 'Home & Kitchen')

In [98]:
DML.delete_data(cursor, 'customers', 'customer_name = \'Alice Johnson\'')
DML.delete_data(cursor, 'customers', 'customer_name = \'Johnson\'')
DML.delete_data(cursor, 'customers', 'customer_name = \'Charlie\'')
DML.delete_data(cursor, 'customers', 'customer_name = \'David\'')
DML.delete_data(cursor, 'customers', 'customer_name = \'Eve\'')

Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.
Query executed successfully.

In [99]:
DML.select_data(cursor, 'customers', columns='*', condition=None)

(6631, 'Danielle Elliott', 'Armenia', 'East Danny')
(8772, 'Robin Mendoza', 'Uganda', 'Johnsonbury')
(8913, 'Abigail Miller', 'Namibia', 'Wrightchester')
(9169, 'Amy Clark', 'Kazakhstan', 'Davisville')
(9780, 'Jessica Hart', 'Martinique', 'South William')